---
--- 
<header id="header" class="header sticky-top">
  <div class="container-fluid container-xl position-relative">

    <div class="d-flex align-items-center justify-content-between">

      <!-- Logo -->
      <a href="/" class="logo d-flex align-items-center">
        <h1 class="sitename m-0">
          <span class="d-none d-sm-inline fw-bold">
            SPACE INTEGRITY INITIATIVE
          </span>
          <span class="d-inline d-sm-none fw-bold">
            SPACE INTEGRITY
          </span>
        </h1>
      </a>

      <!-- Navigation -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/index#hero" class="active">Home</a></li>
          <li><a href="/index#about">About</a></li>
          <li><a href="/index#pillars">Pillars</a></li>
          <li><a href="/pledge">Pledge</a></li>
          <li><a href="/charter">Charter</a></li>

          <li class="dropdown">
            <a href="#">
              <span>Resources</span>
              <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
              <li><a href="/resources/guides-frameworks">Guides & Frameworks</a></li>
              <li><a href="/resources/templates">Templates</a></li>
              <li><a href="/resources/academic-resources">Academic Resources</a></li>
              <li><a href="/resources/standards">External Standards</a></li>
            </ul>
          </li>

          <li><a href="/index#contact">Contact</a></li>
        </ul>

        <!-- Mobile toggle -->
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <!-- CTA (hidden on very small screens) -->
      <a
        class="btn-getstarted d-none d-md-inline-block ms-3"
        href="/index#about"
      >
        Get Started
      </a>

    </div>
  </div>
</header>